{% extends 'base.html.twig' %}

{% block title %}Notes App
{% endblock %}

{% block body %}
    <div class="appContent">
        <div class="side">
            <div class="user">
                <h3>Hello
                    {{app.session.get('user').Login}}</h3>
                <a href="{{path('userLogout')}}">
                    <button>Logout</button>
                </a>
                <button class="add">Add new</button>
            </div>
        </div>
        <div class="data" id="notes">
            {% if notes is not empty %}
                {% for note in notes %}
                    <div class="note">
                        <p>{{note.Content}}</p>
                    </div>
                {% endfor %}
            {% else %}
                <h2>You have no notes</h2>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('scripts/delete.js')}}"></script>
    <script src="{{asset('scripts/add.js')}}"></script>
    <script src="{{asset('scripts/edit.js')}}"></script>
    {{parent()}}
{% endblock %}
