{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
    <div class="formContainer">
        <div class="LogForm">
            <h2>Login</h2>
            {{form_start(form)}}
            {{form_widget(form.Username)}}
            {{form_widget(form.Password)}}
            {{form_widget(form.Login)}}
            {{form_end(form)}}
            <a href="{{path('userRegister')}}">You have no account yet?</a>
        </div>
    </div>
{% endblock %}
